ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}
ul.menu * {
  margin: 0;
  padding: 0;
}
ul.menu a {
  display: block;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}
ul.menu a:hover {
  color: #000;
}
ul.menu li {
  position: relative;
  float: left;
  margin-right: 2px;
}
ul.menu ul {
  position: absolute;
  top: 29px;
  left: 0;
  background: #0066b3;
  display: none;
  opacity: 0;
  list-style: none;
}
ul.menu ul li {
  position: relative;
  border: 1px solid #aaa;
  border-top: none;
  width: 215px;
  margin: 0;
}
ul.menu ul li a {
  display: block;
  padding: 5px 7px 5px;
  background-color: #0066b3;
  text-align: left;
}
ul.menu ul li a:hover {
}
ul.menu ul ul {
  left: 215px;
  top: 0px;
}
ul.menu .menulink {
  border-right: 1px solid #000;
  padding: 3px 7px 3px;
}
ul.menu .menulink:hover,
ul.menu .menuhover {
}
ul.menu .sub {
  background: #0066b3 url(arrow.gif) 205px 8px no-repeat;
}
ul.menu .topline {
  border-top: 1px solid #aaa;
}
ul.menu ul {
  z-index: 5000000;
}

ul.menu2 {
  list-style: none;
  margin: 0;
  padding: 0;
  font: 11px Verdana, Arial;
}
ul.menu2 * {
  margin: 0;
  padding: 0;
}
ul.menu2 a {
  display: block;
  color: #000;
  text-decoration: none;
}
ul.menu2 a:hover {
  color: #3366ff;
}
ul.menu2 li {
  position: relative;
  margin-right: 2px;
}
ul.menu2 ul {
  position: absolute;
  top: 0px;
  left: 178px;
  background: #d1d1d1;
  display: none;
  opacity: 0;
  list-style: none;
}
ul.menu2 ul li {
  position: relative;
  border: 1px solid #aaa;
  border-top: none;
  width: 125px;
  margin: 0;
}
ul.menu2 ul li a {
  display: block;
  padding: 5px 7px 5px;
  background-color: #cccccc;
  text-align: left;
}
ul.menu2 ul li a:hover {
}
ul.menu2 ul ul {
  left: 125px;
  top: 0px;
}
ul.menu2 .menulink {
  /*border-right:1px solid  #A40000;*/
  padding: 7px 5px 7px 25px;
  font-weight: bold;
  background: url(bul.jpg) no-repeat left center;
}
ul.menu2 .menulink:hover,
ul.menu2 .menuhover {
}
ul.menu2 .sub {
  background: #cccccc url(arrow.gif) 115px 8px no-repeat;
}
ul.menu2 .topline {
  border-top: 1px solid #aaa;
}
ul.menu2 ul {
  z-index: 5000000;
}

.bot_p {
  width: 100%;
  clear: both;
}
.bot_box {
  width: 23%;
  height: 150px;
  float: left;
  padding: 5px;
  color: #fff;
  background: url(bline.jpg) no-repeat right center;
}
.bot_box a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.bot_box a:hover {
  color: #ccc;
}
.bot_box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.bot_box ul li {
  list-style: none;
  color: #fff;
  font-weight: normal;
  font-size: 11px;
}
.bot_box ul li a {
  list-style: none;
  color: #fff;
  font-weight: normal;
  font-size: 11px;
  padding: 7px 0px 7px 9px;
  line-height: 20px;
}
.bot_box ul li a:hover {
  color: #ccc;
}
